"<div class='jdgm-rev-widg__reviews'>
    <div class='jdgm-rev jdgm-divider-top' data-verified-buyer='true'
        data-review-id='847de57d-9af2-5ebe-925a-54b5f248567d' data-product-title='Screwdriver Bit Set'
        data-product-url='/products/bits' data-thumb-up-count='0' data-thumb-down-count='0'>
        <div class='jdgm-rev__header'>
            <div class='jdgm-rev__icon'> C </div> <span class='jdgm-rev__rating' data-score='5' tabindex='0'
                aria-label='5 star review' role='img'> <span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span> </span> <span
                class='jdgm-rev__timestamp jdgm-spinner' data-content='2024-01-28 17:36:35 UTC'></span>
            <div class='jdgm-rev__br'></div> <span class='jdgm-rev__buyer-badge-wrapper'> <span
                    class='jdgm-rev__buyer-badge'></span> </span> <span class='jdgm-rev__author-wrapper'> <span
                    class='jdgm-rev__author'>Customer</span> <span class='jdgm-rev__location'> </span> <span
                    class='jdgm-rev__source' data-source=\"shop-app\"></span> </span>
        </div>
        <div class='jdgm-rev__content'>
            <div class='jdgm-rev__custom-form'> </div> <b class='jdgm-rev__title'></b>
            <div class='jdgm-rev__body'>
                <p>Absolutely a must for automobile and tech uses, have used multiple of these bits countless times and
                    they are definitely high quality!</p>
            </div>
            <div class='jdgm-rev__pics'> </div>
            <div class='jdgm-rev__vids'> </div>
        </div>
        <div class='jdgm-rev__actions'>
            <div class='jdgm-rev__social'></div>
            <div class='jdgm-rev__votes'></div>
        </div>
        <div class='jdgm-rev__reply'> </div>
    </div>
    <div class='jdgm-rev jdgm-divider-top' data-verified-buyer='true'
        data-review-id='09b7b639-a735-4592-8a3b-ee488c87dc30' data-product-title='Screwdriver Bit Set'
        data-product-url='/products/bits' data-thumb-up-count='0' data-thumb-down-count='0'>
        <div class='jdgm-rev__header'>
            <div class='jdgm-rev__icon'> C </div> <span class='jdgm-rev__rating' data-score='5' tabindex='0'
                aria-label='5 star review' role='img'> <span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span> </span> <span
                class='jdgm-rev__timestamp jdgm-spinner' data-content='2024-01-28 01:11:26 UTC'></span>
            <div class='jdgm-rev__br'></div> <span class='jdgm-rev__buyer-badge-wrapper'> <span
                    class='jdgm-rev__buyer-badge'></span> </span> <span class='jdgm-rev__author-wrapper'> <span
                    class='jdgm-rev__author'>Connor Simpson</span> <span class='jdgm-rev__location'> </span> </span>
        </div>
        <div class='jdgm-rev__content'>
            <div class='jdgm-rev__custom-form'> </div> <b class='jdgm-rev__title'>Love the products 👌🏼</b>
            <div class='jdgm-rev__body'>
                <p>The Allen key set finishes off all I need for the ltt drivers and they’re top quality, love them just
                    like I love the other bits! As for the breadsaurus T I love it and it’s what I wear when my partner
                    hasn’t stole it love it! Top YouTube channel and top products ❤️</p>
            </div>
            <div class='jdgm-rev__pics'> </div>
            <div class='jdgm-rev__vids'> </div>
        </div>
        <div class='jdgm-rev__actions'>
            <div class='jdgm-rev__social'></div>
            <div class='jdgm-rev__votes'></div>
        </div>
        <div class='jdgm-rev__reply'> </div>
    </div>
    <div class='jdgm-rev jdgm-divider-top' data-verified-buyer='true'
        data-review-id='782daf0d-d8dc-56cf-958a-44df60e087f6' data-product-title='Screwdriver Bit Set'
        data-product-url='/products/bits' data-thumb-up-count='0' data-thumb-down-count='0'>
        <div class='jdgm-rev__header'>
            <div class='jdgm-rev__icon'> M </div> <span class='jdgm-rev__rating' data-score='5' tabindex='0'
                aria-label='5 star review' role='img'> <span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span> </span> <span
                class='jdgm-rev__timestamp jdgm-spinner' data-content='2024-01-24 19:06:41 UTC'></span>
            <div class='jdgm-rev__br'></div> <span class='jdgm-rev__buyer-badge-wrapper'> <span
                    class='jdgm-rev__buyer-badge'></span> </span> <span class='jdgm-rev__author-wrapper'> <span
                    class='jdgm-rev__author'>Michael</span> <span class='jdgm-rev__location'> </span> <span
                    class='jdgm-rev__source' data-source=\"shop-app\"></span> </span>
        </div>
        <div class='jdgm-rev__content'>
            <div class='jdgm-rev__custom-form'> </div> <b class='jdgm-rev__title'></b>
            <div class='jdgm-rev__body'>
                <p>Great product, fast shipping, 10/10 recommend</p>
            </div>
            <div class='jdgm-rev__pics'> </div>
            <div class='jdgm-rev__vids'> </div>
        </div>
        <div class='jdgm-rev__actions'>
            <div class='jdgm-rev__social'></div>
            <div class='jdgm-rev__votes'></div>
        </div>
        <div class='jdgm-rev__reply'> </div>
    </div>
    <div class='jdgm-rev jdgm-divider-top' data-verified-buyer='true'
        data-review-id='87c30013-d391-584a-a18c-7aec1ef03c66' data-product-title='Screwdriver Bit Set'
        data-product-url='/products/bits' data-thumb-up-count='2' data-thumb-down-count='0'>
        <div class='jdgm-rev__header'>
            <div class='jdgm-rev__icon'> A </div> <span class='jdgm-rev__rating' data-score='3' tabindex='0'
                aria-label='3 star review' role='img'> <span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--off'></span><span class='jdgm-star jdgm--off'></span> </span> <span
                class='jdgm-rev__timestamp jdgm-spinner' data-content='2024-01-23 00:27:54 UTC'></span>
            <div class='jdgm-rev__br'></div> <span class='jdgm-rev__buyer-badge-wrapper'> <span
                    class='jdgm-rev__buyer-badge'></span> </span> <span class='jdgm-rev__author-wrapper'> <span
                    class='jdgm-rev__author'>A.R.</span> <span class='jdgm-rev__location'> </span> <span
                    class='jdgm-rev__source' data-source=\"shop-app\"></span> </span>
        </div>
        <div class='jdgm-rev__content'>
            <div class='jdgm-rev__custom-form'> </div> <b class='jdgm-rev__title'></b>
            <div class='jdgm-rev__body'>
                <p>We need top down photos</p>
            </div>
            <div class='jdgm-rev__pics'> </div>
            <div class='jdgm-rev__vids'> </div>
        </div>
        <div class='jdgm-rev__actions'>
            <div class='jdgm-rev__social'></div>
            <div class='jdgm-rev__votes'></div>
        </div>
        <div class='jdgm-rev__reply'> </div>
    </div>
    <div class='jdgm-rev jdgm-divider-top' data-verified-buyer='true'
        data-review-id='31c5935f-0b39-48bb-861e-122d71b0db28' data-product-title='Screwdriver Bit Set'
        data-product-url='/products/bits' data-thumb-up-count='0' data-thumb-down-count='3'>
        <div class='jdgm-rev__header'>
            <div class='jdgm-rev__icon'> R </div> <span class='jdgm-rev__rating' data-score='3' tabindex='0'
                aria-label='3 star review' role='img'> <span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--on'></span><span class='jdgm-star jdgm--on'></span><span
                    class='jdgm-star jdgm--off'></span><span class='jdgm-star jdgm--off'></span> </span> <span
                class='jdgm-rev__timestamp jdgm-spinner' data-content='2024-01-20 19:09:59 UTC'></span>
            <div class='jdgm-rev__br'></div> <span class='jdgm-rev__buyer-badge-wrapper'> <span
                    class='jdgm-rev__buyer-badge'></span> </span> <span class='jdgm-rev__author-wrapper'> <span
                    class='jdgm-rev__author'>Robert Kehr</span> <span class='jdgm-rev__location'> </span> </span>
        </div>
        <div class='jdgm-rev__content'>
            <div class='jdgm-rev__custom-form'> </div> <b class='jdgm-rev__title'>They’re bits.</b>
            <div class='jdgm-rev__body'>
                <p>A bit over priced but hey what isn’t nowadays? I found some that were the right size on Amazon but
                    they lacked the type I needed so, gotta buy a whole pack just to get the couple of bits I needed.
                </p>
            </div>
            <div class='jdgm-rev__pics'> </div>
            <div class='jdgm-rev__vids'> </div>
        </div>
        <div class='jdgm-rev__actions'>
            <div class='jdgm-rev__social'></div>
            <div class='jdgm-rev__votes'></div>
        </div>
        <div class='jdgm-rev__reply'> </div>
    </div>
</div>
<div class='jdgm-paginate' data-per-page='5' data-url='https://judge.me/reviews/reviews_for_widget'><a
        class='jdgm-paginate__page jdgm-curt' data-page='1' aria-label='Page 1' tabindex='0' role='button'>1</a><a
        class='jdgm-paginate__page ' data-page='2' aria-label='Page 2' tabindex='0' role='button'>2</a><a
        class='jdgm-paginate__page ' data-page='3' aria-label='Page 3' tabindex='0' role='button'>3</a><a
        class='jdgm-paginate__page jdgm-paginate__next-page' data-page='2' aria-label='Page 2' tabindex='0' rel='next'
        role='button'></a><a class='jdgm-paginate__page jdgm-paginate__last-page' data-page='61' aria-label='Page 61'
        tabindex='0' role='button'></a></div>"